doctype
html( lang="pl" )
    head
        title Anonimowe Mirko Wyznania - Admin Panel
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Anonimowe Mirko Wyznania' )
        link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
        link(rel='icon', type='image/png' href='/pepe.png')
        script(src="//code.jquery.com/jquery-1.12.0.min.js")
        body
          include ./navbar.jade
          block content
        block script
