extends ./base.jade
block content
  .container
    form(method="post")
      input(name="username" placeholder="username")
      br
      input(name="password" type="password" placeholder="password")
      br
      button.btn.btn-large.btn-success(type="submit") Wyślij
