extends ./base.jade
block content
  .container
    if error
      p.bg-danger #{error}
    form(method="post" action="admin/login")
      input(name="username" placeholder="username")
      br
      input(name="password" type="password" placeholder="password")
      br
      button.btn.btn-large.btn-success(type="submit") Wyślij
