nav.navbar.navbar-default.navbar-static-top
        .navbar-header
          a.navbar-brand(href='/admin/confessions') admin panel [#{user.username}]
        #navbar.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/admin/confessions') confessions
            li
              a(href='/admin/replies') replies
            if user
              li
                a(href='/admin/logout') logout
        // /.nav-collapse
