nav.navbar.navbar-default.navbar-static-top
        .navbar-header
          a.navbar-brand(href='/sokytsinolop/confessions') sokytsinolop panel
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/sokytsinolop/confessions') confessions
            li
              a(href='/sokytsinolop/replies') replies
        // /.nav-collapse
