nav.navbar.navbar-default.navbar-static-top
        .navbar-header
          a.navbar-brand(href='/admin/confessions') admin panel
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/admin/confessions') confessions
            li
              a(href='/admin/replies') replies
        // /.nav-collapse
