extends ./base.jade
block content
  p.info
  |Strona ta pozwala dodać wpis na mikroblog anonimowo. Wystarczy, że wypełnisz formularz na stronie głównej.
  br
  |Każdy zaakceptowany wpis zostanie dodany pod tagiem 
  a(href='http://wykop.pl/tag/AnonimoweMirkoWyznania', target='_blank') #AnonimoweMirkoWyznania.
  br
  iframe(width="853", height="480" src="https://www.youtube.com/embed/_GTKDIMtbok?rel=0" frameborder="0" allowfullscreen)
