extends ./base.jade
block content
  p.info
  |Strona ta pozwala dodać wpis na mikroblog anonimowo. Wystarczy, że wypełnisz formularz na stronie głównej. <br /> Każdy zaakceptowany wpis zostanie dodany pod tagiem 
  a(href='http://wykop.pl/tag/AnonimoweMirkoWyznania', target='_blank') AnonimoweMirkoWyznania.
