extends ./base.jade
block content
  p.info
  |Jeśli chcesz mozesz przekazać dotacje, aby wspierać projekt. Wystarczy, ze napiszesz 
  a(href='http://www.wykop.pl/wiadomosc-prywatna/konwersacja/sokytsinolop/', target='_blank') do sokytsinolopa 
  | po więcej informacji
  br
  b Koszty projektu:
  br
  | Serwer 150zł / rok
  br
  | Domena 35zł / rok
  br
  i Jeśli zdarzyłoby się, ze kwota dotacji przekroczy koszty utrzymania (choć wątpię), nadwyzka zostanie przekazana na jakieś upominki dla moderatorow
  h3 Lista dotacji:
  ul
    li domena mirkowyznania.eu ~ Anonimowy darczyńca
