nav.navbar.navbar-default.navbar-static-top
    .container
      .navbar-header
        a.navbar-brand(href='/') Anonimowe Mirko Wyznania
        button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #navbar.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/') Dodaj
          li
            a(href='http://www.wykop.pl/tag/anonimowemirkowyznania', target='_blank') Przeglądaj dodane wyznania
          li
            a(href='/cotojest') O projekcie
          li
            a(href='http://www.wykop.pl/wiadomosc-prywatna/konwersacja/sokytsinolop/') Kontakt
          li
            a(href='https://github.com/cymruu/anonimowemirkowyznania', target='_blank') Github
      // /.nav-collapse
