extends ./base.jade
block content
  if success
    .alert.alert-success
      strong Śledzisz ten wpis!
      | Będziesz wołany, gdy pojawi się nowa odpowiedź
  p.info Ten wątek śledzi #{confession._followers.length} osób
  p.info
    if user
      form#follow(method="post")
        button.btn.btn-large.btn-success(type="submit") Kliknij tutaj aby zacząć śledzić ten wątek
    else
      a(href="/login") Zaloguj się, aby zacząć śledzić wątek
